@import url("~leaflet/dist/leaflet.css");
// Mobil first
.mainSection {
  .map-main{
    width: 100%;
    padding-bottom: 0.7rem;
    z-index: 1;
  
    .leaflet-container {
      width: 100%;
      height: 40vh;
    }
  }


  .cards_title{
    font-style: italic;
    font-weight: bold;
    margin-left: 1rem;
    font-size: 0.9rem;
  }
  // class défini par defaut par semantic
  .ui.three.cards {
    margin: 0.6rem 0.2rem;
    justify-content: space-between;

    .card {
      width: calc(33.33333333% - 1em);
      margin: 0.5rem;

      .content {
        font-size: 0.8rem;
        padding: 0.7rem 0.4rem;

        .card-name {
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
    }
  }
}

// Breackpoint for desktop

// @media (min-width: 1000px){
//   .mainSection {
//     width: 55%;

//     // .map-main{
//     //   width: 45%;
//     //   padding-bottom: 0;
      
  
//     //   .leaflet-container {
//     //     width: 100%;
//     //     height: 100%;
//     //   }
//     // }
//   }
// }
