@import url("~leaflet/dist/leaflet.css");

// Mobil first
.mainSection {

  // MAP section
  &-map {
    
    .map-main {
      width: 100%;
      
      margin: 1rem 0;
      // position: sticky;
      // top: 5px;
    
      .leaflet-container {
        width: 100%;
        height: 40vh;
      }
    }
  }
  
  // CARDS section
  &-users {
    .cards_title{
      font-weight: bold;
      margin-bottom: 0 0 1rem 1rem;
      text-decoration: underline;
    }
    // Class defined by default by semantic
    .ui.three.cards {
      margin: 0.6rem 0.2rem;
      justify-content: space-between;

      .card {
        width: calc((100%/3) - 1em);
        margin: 0.5rem;

        .image {
          max-width: 500px;
        }
        .content {
          font-size: 0.8rem;
          padding: 0.7rem 0.4rem;

          .card-name {
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
      }
    }

    .random {
      margin: 1rem auto;
      width: 80%;
    }
  }
}


h2{
  margin-bottom: 1rem;
}

.all-users{
  .filter-button{
    margin-left: 1rem;
  }
}

.all-events{
  .filter-button{
    margin-left: 1rem;
  }
}

.filter-or{
  margin-left: 3rem;
  font-weight: bold;
}

.filter{
  background-color: #EFEDEC;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem 1rem 1rem 1.5rem;

  .filter-title{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem 0 0.5rem 0;

    .filter-button{
      border-radius: 60px;
      padding: 0.8rem;
    }
  }

  .filter-options{
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    .filter-option{
      width: 25%;
    }
  }
}

// Breackpoint for desktop

@media (min-width: 1000px){
  .mainSection {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    &-map {
      width: 40%; 

      .map-main {
        padding-left: 0.5rem;
        // Map is always visible with sticky position
        position: sticky;
        top: 5px;
        .leaflet-container {
          width: 100%;
          height: 100vh;
        }
      }
    }

    &-users {
      width: 60%;
      .all-users {
        .cards_title{
          margin: 1rem;
        }
      }
    }
    
    
  }
}
