@use 'src/styles/vars';

.settings {
  position: fixed;
  top: 35px;
  right: calc(50% - 150px);
  width: 300px;
  padding: 0.7rem;
  background-color: rgb(156 152 152);
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  .settings-title {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .settings-title-error {
    color: #ff4b33e0;
    border: solid 1.5px #ffa296ed;
    border-radius: 3px;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5rem;
    background-color: #F5CCBA;
    font-size: .8rem;
  }
  .settings-form {
    color: rgba(255, 255, 255, 0.8);
    width: 100%;


    .field-connect {
      margin: 0.8rem 0.4rem;


      .input-connect {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 12px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      .label-connect {
        margin-top: -0.5rem;
        font-size: 0.8rem;
      }
    }
    .settings-submit {
      background-color: vars.$darkColor;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 1rem;
      font-size: 1rem;
      width: 100%;
      margin-top: -5px;
      text-transform: uppercase;
    }
  }
}

// Breackpoint for tablet
@media (min-width: 480px){
  .settings {
    right: calc(50% - 175px);
    width: 350px;
  } 
}

@media (min-width: 780px){
  .settings {
    .settings-title {
    font-size: 1.3rem;
  }

    .settings-title-error {
      font-size: 1rem;
    }
    .settings-form {

      .field-connect {

        .label-connect {
          margin-top: -1rem;
          font-size: 1rem;
        }
      }
      .settings-submit {
        font-size: 1.2rem;
      }
    }
  } 
}
// Breackpoint for desktop
@media (min-width: 1000px){
  .settings {
    
  } 
}
