@use 'src/styles/vars';

.mention{
  text-align: center;
  line-height: 1.5;

  .mention-content{
    .mention-content-h1{
      font-weight: bold;
      text-decoration: none;
      font-size: 1.2rem;
      color: vars.$darkColor;
      margin:1.5rem auto;
    }
    .mention-content-h2{
      margin:1.5rem auto;
      font-weight: bold;
      text-decoration: none;
      font-size: 1.1rem;
      color: vars.$darkColor;
    }
    .mention-content-p{
      margin:1rem auto;
    }
  }
}

// Breackpoint for tablet
@media (min-width: 480px){
  .mention{
    .mention-content{
      .mention-content-h1{
        font-size: 1.7rem;
        margin:2rem auto;
      }
      .mention-content-h2{
        margin:2rem auto 1.5rem auto;
        font-size: 1.4rem;
      }
      .mention-content-p{
        font-size: 1.1rem;
        margin: 1.3rem auto;
      }
    }
  }
}
