// Mobil first
.app {
  width: 100%;
  margin: 1em auto;

  border: 14px solid #0000;
    border-radius: 25px;
    background: linear-gradient(#e0e0e0,rgb(255 255 255 / 50%)) padding-box, linear-gradient(#bebebe,rgb(255 255 255 / 50%)) border-box;
}

// Breackpoint for tablet
@media (min-width: 480px){
  .app {
    width: 700px;
    margin: 1em auto;
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  .app {
    width: 1000px;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
  }
}
