// Mobil first
.app {
  width: 100%;
  margin: 1em auto;
}

// Breackpoint for tablet
@media (min-width: 480px){
  .app {
    width: 700px;
    margin: 1em auto;
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  .app {
    width: 1000px;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
  }
}
