@use 'src/styles/vars';
// styles Mobil first
.profil{
width: 100%;
  // page de profil avec toutes les info
  #mon-profil{
    padding-top: 75px;
  }
  .profil-section{
    background-color:#EFEDEC;
    box-shadow: 1px 2px 4px black;
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0.2rem 0;

    .profil-h1{
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.1rem;
      text-shadow: 1px 1px 1px grey;
    }
    // en-tête avec le titre de la section et les boutons d'édition et de suppression
    .profil-header{
      display: flex;
      justify-content: space-between;

      .profil-buttons{
        width: 10%;
        .button{
          width:27px;
          margin-left: 0.4rem;
        }
      }

      .profil-main{
        width: 90%;
        font-size: 0.9rem;
        display: flex;
  
        .profil-main-photo{
          width: 30%;
          .profil-photo{
            width: 100%;
            border-radius: 50px;
          }
        }
  
        .profil-main-infos{
          width: 70%;
          padding: 0 0 0.7rem 0.7rem;
  
          .info-block{
            margin: 0.5rem;
            .profil-info-title{
              font-weight: bold; 
            }
    
            .profil-info{
              display: block;
            }
          }

          .info-block-line{
            display: flex;
            flex-direction: column;
            margin: 0.5rem;

            .profil-info-title{
              font-weight: bold; 
            }
    
            .profil-info{
              display: block;
            }
          }
        }
    }

    .profil-h2{
      font-size: 1rem;
      margin: 0 0 0.5rem 0.5rem;
    }

    // corps de la section avec la photo et les infos
    .profil-main-message{
      font-size: 0.9rem;
      display: flex;
      align-items: flex-end;

      .profil-message{
        max-width:50px;
      }
      .conversation{
        margin-left: 0.5rem;
      }
    }
    
    

      .profil-message{

      }
      .conversation{

      }

      
    }

    .profil-info-title{
      font-size: 0.9rem;
      font-weight: bold;
    }

    .profil-info{
      font-size: 0.9rem;
      display: block;
    }

    .new-event{
      margin: 2rem 0.5rem 1rem 1rem;
      text-align: right;

      .menu-link {
        background-color: vars.$mainColor;
        color: #fff;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 0.8rem;
        font-weight: bold;
        box-shadow: 1px 2px 4px black;
    
        &:hover {
          background-color: vars.$darkColor;
        }
    
        &--active {
          background-color: vars.$darkColor;
          color: vars.$lightColor;
        }
      }
    }
  }
}

// Breackpoint for tablet
@media (min-width: 480px){
  .profil{
    // page de profil avec toutes les info
    .profil-section{
      padding: 1rem;
      margin: 0.8rem 0;

      .profil-h1{
        font-size: 1.4rem;
      }

      // en-tête avec le titre de la section et les boutons d'édition et de suppression
      .profil-header{
        
      }
  
      .profil-h2{
        font-size: 1.2rem;
      }
  
      // corps de la section avec la photo et les infos
      .profil-main-message{
        font-size: 1rem;
      }
      
      .profil-main{
        font-size: 1rem;
        margin: 1rem;
  
        .profil-main-photo{
          .profil-photo{
            max-width: 200px;
          }
        }
  
        .profil-main-infos{
          padding: 0 0 0.8rem 0.8rem;
          
          .info-block{
            display: flex;

            .profil-info-title{
              margin-right: 0.5rem;
            }
          }
          
        }
      }
  
      .profil-info-title{
        font-size: 1rem;
        font-weight: bold;
      }
  
      .profil-info{
        font-size: 1rem;
        display: block;
      }
      .new-event{
        .menu-link{
          font-size: 1rem;
        }
      }
    }
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  
}
