// styles Mobil first
.profil{

  // Les liens de navigation en hashlink
  .profil-nav{
    
    // un lien en particulier
    .profil-link{

    }
  }

  // page de profil avec toutes les info
  .profil-section{
    background-color:#EFEDEC;
    box-shadow: 1px 2px 4px black;
    border-radius: 7px;
    padding: 0.5rem;
    margin: 0.2rem;
    // en-tête avec le titre de la section et les boutons d'édition et de suppression
    .profil-header{
      display: flex;
      justify-content: space-between;

      .profil-h1{

      }
      .profil-buttons{
        .button{

        }
      }
    }

    .profil-h2{
      font-size: 0.9rem;

    }

    // corps de la section avec la photo et les infos
    .profil-main{
      font-size: 0.9rem;
      display: flex;

      .profil-main-photo{
        width: 40%;
        .profil-photo{
          width: 100%;
          border-radius: 50px;
        }
      }

      .profil-main-infos{
        width: 60%;
        padding: 0.7rem;

        .profil-info-title{
          font-weight: bold; 
        }

        .profil-info{
          display: block;
          margin-bottom: 0.4rem;
        }
      }

      .profil-message{

      }
      .conversation{

      }

    }

    .profil-info-title{
      font-size: 0.9rem;
      font-weight: bold;
      margin-top: 0.4rem;
    }

    .profil-info{
      font-size: 0.9rem;
      display: block;
      margin-bottom: 0.4rem;
    }
  }
}
