@use 'src/styles/vars';

// Mobil first
.header-main{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 30vh;
  background-image: url('./header_bandeau.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .header-nav a{
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    color: vars.$lightColor;
    //text-decoration: underline;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .header-nav{
    
    .welcome-user{
      position: relative;
      margin-top: 0.5rem;

      .welcome-user-photo{
        width: 70px;
        border-radius: 50px;
        border: 2px vars.$lightColor solid;
      }
      .unreadMessage{
        position: absolute;
        top: -5px;
        left: 20px;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 20px;
        color: white;
        font-weight: bold;
        padding: 0.2rem;
      }
    }
  }

  .header-logo{
    font-weight: bold;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    background-color: vars.$mainColor;
    color: vars.$lightColor;
    border-radius: 5px;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    text-decoration: none;
    box-shadow: 1px 2px 4px black;
    display: flex;
    align-items: center;
    

    .header-logo-img{
      width: 50px;
      height: 50px;
      margin: 0.2rem;
    }
  }
}


// Breackpoint for tablet
@media (min-width: 480px){
  .header-main{
    border-radius: 10px;
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  .header-main{
    width: 100%;
    min-height: 35vh;
    .header-logo{
      font-size: 1.5rem;
    }
  
    .header-nav a{
      font-size: 1rem;
    }
  }
}
