@use 'src/styles/vars';

// style for Mobil
.new-message, #message-success {
  text-align: center;
  box-shadow: 1px 2px 4px black;
  border-radius: 7px;
  font-size: 1.2rem;
  background-color: white;
  position: fixed;
  top: 10%;
  right: calc(50% - 150px);
  z-index: 10;
  
  
  .register {
    margin: auto;
    background-color:#cccccc;
    box-shadow: 1px 2px 4px black;
    padding: .5rem;
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
  
    .ui .button {
      background-color: vars.$darkColor;
      color: #fff;
      font-size: 0.8rem;
    }
  
    h1 {
      text-align: center;
      margin-bottom: .5rem;
      font-weight: bold;
      font-size: 1.2rem;
      text-shadow: 1px 2px 2px grey;
    }
    
  }
}

#rep-success {
  width: 300px;
  text-align: center;
}

// Breackpoint for tablet
@media (min-width: 480px){
  .new-message, #message-success {
    right: calc(50% - 200px);

    .register {
      width: 400px;
    }

  }
  #message-success {
    width: 400px;
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  .new-response, #message-success {

  }
}
