@use 'src/styles/vars';

// Mobil first

.footer-main{
  text-align: right;
  margin-top: 0.5rem;

  .footer-link{
    color: vars.$mainColor;
    font-size: 0.7rem;
    text-decoration: underline;
    padding: 0.5rem;

    &:hover {
      color: vars.$darkColor;
    }
  }
}

.backLogo{
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 30px;
}



// Breackpoint for desktop
@media (min-width: 1000px){
  .footer-main{
    width: 100%;
  }
}
