.loader {
  width: 60%;
  margin: auto;
  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  &-info {
    position: absolute;
    bottom: 8%;
    left: 20%;
    right: 20%;
  }
}

// Breackpoint for tablet
@media (min-width: 480px){
  .loader {
    width: 40%;
  }
}

// Breackpoint for desktop
@media (min-width: 1000px){
  .loader {
    width: 30%;
  }
}
