@import url("~leaflet/dist/leaflet.css");
// TODO trouver la doc qui contient cette url

// Mobil first
.leaflet-container {
  width: 100%;
  height: 40vh;

}

// Breackpoint for desktop
@media (min-width: 1000px){
  .leaflet-container {
    width: 35%;
  }
}
