h1 {
  font-weight: bold;
  margin-bottom: 1rem;
  // text-decoration: underline;
}

.carousel {
  position: relative;
}

.carousel .slide img {
  width: 100%;
    height: 45vh;
    border-radius: 15px;
  // The replaced content is sized to maintain its aspect ratio
  object-fit: cover;
  border-radius: 20px;


}
 // Thumb container
.carousel .thumbs {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

// One thumb
.carousel .thumb {
  margin: 0 5px;
  cursor: pointer;
}

// Container with description on the picture
.carousel .overlay {
  width: 75%;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 10%;
  padding: 0.4rem 1.5rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 0.7rem;
  border-radius: 10px;

}
.carousel .overlay__title {
  margin: 0.8rem 0 1rem;
}

// @media screen and (max-width:600px){
  .carousel .slide img {
    width: 100%;
    height: 40vh;
    border-radius: 15px;
    // The replaced content is sized to maintain its aspect ratio
    object-fit: cover;
    border-radius: 20px;
  }
  
// }
