@use 'src/styles/vars';
// styles Mobil first
.userboard {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  background-color:#EFEDEC;
  box-shadow: 1px 2px 4px black;
  border-radius: 7px;
  padding: 1rem;
  // page de profil avec toutes les info

  &-rightsection-desktop {
    width: 100%;
  }
  
  &-leftsection, &-rightsection {
    background-color: vars.$lightColor;;
    box-shadow: 1px 2px 4px black;
    border-radius: 7px;
    padding: 0.5rem 0.5rem 1rem;
    margin: 0 0 1rem;
    width: 100%;
    // en-tête avec le titre de la section et les boutons d'édition et de suppression
    .userboard-header {
      display: flex;
      justify-content: space-between;

      .userboard-h1 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        font-size: 1.1rem;
        text-shadow: 1px 1px 1px grey;
      }
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 1rem 0;
    }

    h3 {
      font-size: 1rem;
      // border-bottom: 1px solid grey;
      // width: 50%;

      &::after {
        background: grey;
        content: "";
        display: block;
        height: 1px;
        margin: 0.5rem auto;
        width: 6vw;
      }
      // &:last-child::after {
      //   display: none;
      // }
    }

    // corps de la section avec la photo et les infos
    
    .userboard-main {
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;

        .userboard-main-photo{
          width: 100%;
          max-width: 300px;
          margin: 1rem auto;

          .userboard-photo {
            width: 100%;
            border-radius: 50px;
          }
        }
      }


    }

    &-info-title {
      font-size: 0.9rem;
      font-weight: bold;
    }

    &-info {
      font-size: 0.9rem;
      display: block;
      margin: 0.5rem;
    }

    &-bio {
      margin: 1.5rem auto;
      padding: 0.5rem;
      box-shadow: 0px 0px 5px black;
      border-radius: 7px;
      width: 80%;
      background-color: vars.$mainColor;
      font-style: italic;
    }

    &-contact {
      background-color: vars.$mainColor;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      box-shadow: 1px 2px 4px black;
      
    }

    
  }


// // Breackpoint for tablet
// @media (min-width: 480px){
//   .userboard {

//     display: flex;
//     text-align: center;
//     background-color:#EFEDEC;
//     box-shadow: 1px 2px 4px black;
//     border-radius: 7px;

//     // page de profil avec toutes les info
    
//     &-section {
//       background-color: vars.$lightColor;;
//       box-shadow: 1px 2px 4px black;
//       border-radius: 7px;
      
//       margin: 0 0 1rem;
//       width: 100%;

//       .userboard-main {
//         font-size: 0.9rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
    
//           .userboard-main-photo{
//             width: 90%;
//             border-radius: 50px;
//             margin: auto;
    
//             .userboard-photo {
//               width: 100%;
//             }
//           }
//         }
//   } 
// }
// }
// Breackpoint for desktop
@media (min-width: 1000px){
  .userboard {
    // position: relative;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color:#EFEDEC;
    box-shadow: 1px 2px 4px black;
    border-radius: 7px;
    // page de profil avec toutes les info
    
    &-leftsection {
      background-color: vars.$lightColor;;
      box-shadow: 1px 2px 4px black;
      border-radius: 7px;
      margin: 0 0 1rem;
      width: 37%;
      position: sticky;
      top: 5px;
      height: 100vh;
  }
    
  
    &-rightsection-desktop {
      width: 62%;
      .userboard-section-desktop{
        background-color: vars.$lightColor;;
        box-shadow: 1px 2px 4px black;
        border-radius: 7px;
        width: 100%;
        margin: 0 0 1rem;
        
    
        .userboard-main-photo{
          width: 100%;
          border-radius: 50px;
    
          .userboard-photo {
            width: 80%;
          }
        
      } 
    }
    }
  
}
}
